{% extends 'base.html.twig' %}

{% block title %}Places
{% endblock %}

{% block body %}
	<div class="container py-5">
  <!-- For Demo Purpose -->
  <header class="text-center">
    <h1 class="display-4 font-weight-bold">Most places </h1>
     
    </p>
  </header>


  <!-- DEMO 1 -->
  <div class="py-5">
  
     
    <div class="row">
        {% for place in places %}
			<div class="col-lg-6 mb-3 mb-lg-0" style="margin-top: 20px;">
				<div class="hover hover-1 text-white rounded"><img src="{{ asset('./img/' ~ place.image) }}" alt="">
					<div class="hover-overlay"></div>
					<div class="hover-1-content px-5 py-4">
						<h3 class="hover-1-title text-uppercase font-weight-bold mb-0">
							<span class="font-weight-light">{{place.titre}}
							</span></h3>
							
						<p class="hover-1-description font-weight-light mb-0">{{place.description}}</p>
						<a href="{{path('place_go',{id: place.id})}}" style="background-color:white;" >
							<button type="button" class="btn btn-light">GO</button>
							</a>
					</div>
				</div>
			</div>
   
{% endfor %}

</div>
{% endblock %}
